<!DOCTYPE html>
<html>
<head>
<title>個人成績</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class= "table table-striped ">
           <thead>
              <tr>
                <th></th>
                <th><%= link_to "セ・リーグ投手成績", c_pitcher_path %></th>
                <th><div class="tooltip3">防御率<div class="description3">9イニング当たりその投手が何点取られるか、という指標。</div></div></th>
                <th><div class="tooltip3">WHIP<div class="description3">1イニング当たりどれだけのランナーを出しているかを示す指標。</div></div></th>
                <th><div class="tooltip3">FIP<div class="description3">投手自身がコントロールできない運の要素を排除して計算された指標。</div></div></th>
              </tr>
            </thead>
            <tbody>
              <% @pitchers_c.each do |pitcher| %>       
                <tr>
                  <td><%= @rank1 %></td>
                  <td><%= link_to pitcher.name, pitcher%></td>
                  <td><%= pitcher.era %></td>
                  <td><%= pitcher.whip %></td>
                  <td><%= pitcher.fip %></td>
                </tr>        
              <% @rank1 = @rank1 + 1 %>
              <% end %>
            </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class= "table table-striped ">
          <thead>
            <tr>
              <th></th>
              <th><%= link_to "パ・リーグ投手成績", p_pitcher_path %></th>
                <th><div class="tooltip3">防御率<div class="description3">9イニング当たりその投手が何点取られるか、という指標。</div></div></th>
                <th><div class="tooltip3">WHIP<div class="description3">1イニング当たりどれだけのランナーを出しているかを示す指標。</div></div></th>
                <th><div class="tooltip3">FIP<div class="description3">投手自身がコントロールできない運の要素を排除して計算された指標。</div></div></th>
            </tr>
          </thead>          
          <tbody>
            <% @pitchers_p.each do |pitcher| %>
            <tr>
              <td><%= @rank2 %></td>
              <td><%= link_to pitcher.name, pitcher%></td>
              <td><%= pitcher.era %></td>
              <td><%= pitcher.whip %></td>
              <td><%= pitcher.fip %></td>
            </tr>
            <% @rank2 = @rank2 + 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>              
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class= "table table-striped">
          <thead>
            <tr>
              <th></th>
              <th><%= link_to "セ・リーグ打撃成績", c_batter_path %></th>
              <th><div class="tooltip3">打率<div class="description3">1打数当たりのヒットを打つ確率。打撃成功率。</div></div></th>
              <th><div class="tooltip3">ｗＯＢＡ<div class="description3">長打力や出塁能力を考慮した現代の野球統計学における打者の基本的な指標。</div></div></th>
              <th><div class="tooltip3">ＲＣ２７<div class="description3">その打者だけで27個のアウトを取られるまで（1試合終わるまで）打った場合獲得できるであろう得点を算出した指標。
              </div></div></th>
            </tr>
          </thead>
          <tbody>
            <% @batters_c.each do |batter| %>
            <tr>
              <td><%= @rank3 %></td>
              <td><%= link_to batter.name, batter%></td>
              <td>.<%= batter.avg_view %></td>
              <td><%= batter.w_oba %></td>
              <td><%= batter.rc27 %></td>
            </tr>  
            <% @rank3 = @rank3 + 1 %>
            <% end %>
          </tbody>
        </table>
      </div>         
      <div class="col-md-6">
        <table class= "table table-striped">
          <thead>
            <tr>
              <th></th>
              <th><%= link_to "パ・リーグ打撃成績", p_batter_path %></th>
              <th><div class="tooltip3">打率<div class="description3">1打数当たりのヒットを打つ確率。打撃成功率。</div></div></th>
              <th><div class="tooltip3">ｗＯＢＡ<div class="description3">長打力や出塁能力を考慮した現代の野球統計学における打者の基本的な指標。</div></div></th>
              <th><div class="tooltip3">ＲＣ２７<div class="description3">その打者だけで27個のアウトを取られるまで（1試合終わるまで）打った場合獲得できるであろう得点を算出した指標。
              </div></div></th>
            </tr>
          </thead>              
          <tbody>
            <% @batters_p.each do |batter| %>
            <tr>
              <td><%= @rank4 %></td>
              <td><%= link_to batter.name, batter%></td>
              <td>.<%= batter.avg_view %></td>
              <td><%= batter.w_oba %></td>
              <td><%= batter.rc27 %></td>
            </tr>                             
            <% @rank4 = @rank4 + 1 %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html> 