<!DOCTYPE html>
<html>
<head>
<title>セ・リーグ投手成績</title>
</head>
<body>
  <table class= "table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>規定投球回以上</th>
      <th>防御率</th>
      <th>登板</th>
      <th>先発</th>
      <th>完投</th>
      <th>完封</th>
      <th>QS</th>
      <th>勝利</th>
      <th>敗戦</th>
      <th>ホールド</th>
      <th>ホールドポイント</th>
      <th>セーブ</th>
      <th>勝率</th>
      <th>投球回</th>
      <th>被安打</th>
      <th>被本塁打</th>
      <th>雑三振</th>
      <th>奪三振率</th>
      <th>与四球</th>
      <th>与死球</th>
      <th>暴投</th>
      <th>ボーク</th>
      <th>失点</th>
      <th>自責点</th>
      <th>被打率</th>
      <th>K/BB</th>
      <th>WHIP</th>
      <th>RSAA</th>
      <th>FIP</th>
    </tr>
</thead>
<tbody>
    <tr>
      <td>1</td>
      <td><%= link_to "大野 雄大（中）", '/personal_pitcher_stats'%></td>
      <td>2.58</td>
      <td>25</td>
      <td>25</td>
      <td>2</td>
      <td>2</td>
      <td>18</td>
      <td>9</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.529</td>
      <td>177.2</td>
      <td>132</td>
      <td>18</td>
      <td>156</td>
      <td>7.90</td>
      <td>43</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>52</td>
      <td>51</td>
      <td>.206</td>
      <td>3.63</td>
      <td>0.98</td>
      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>2</td>
      <td><%= link_to "ジョンソン（広）", '/personal_pitcher_stats'%></td>
      <td>2.59</td>
      <td>27</td>
      <td>27</td>
      <td>1</td>
      <td>1</td>
      <td>16</td>
      <td>11</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.579</td>
      <td>156.2</td>
      <td>132</td>
      <td>12</td>
      <td>132</td>
      <td>7.58</td>
      <td>58</td>
      <td>4</td>
      <td>3</td>
      <td>0</td>
      <td>50</td>
      <td>545</td>
      <td>.232</td>
      <td>2.28</td>
      <td>1.21</td>
      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>3</td>
      <td><%= link_to "山口 俊（巨）", '/personal_pitcher_stats'%></td>
      <td>2.91</td>
      <td>26</td>
      <td>26</td>
      <td>0</td>
      <td>0</td>
      <td>18</td>
      <td>15</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.789</td>
      <td>170</td>
      <td>137</td>
      <td>8</td>
      <td>188</td>
      <td>9.95</td>
      <td>60</td>
      <td>13</td>
      <td>4</td>
      <td>0</td>
      <td>60</td>
      <td>55</td>
      <td>.222</td>
      <td>3.13</td>
      <td>1.16</td>
      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>3</td>
      <td><%= link_to "今永 昇太（De）", '/personal_pitcher_stats'%></td>
      <td>2.91</td>
      <td>25</td>
      <td>25</td>
      <td>3</td>
      <td>3</td>
      <td>17</td>
      <td>13</td>
      <td>7</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.650</td>
      <td>170</td>
      <td>128</td>
      <td>18</td>
      <td>186</td>
      <td>9.85</td>
      <td>56</td>
      <td>4</td>
      <td>2</td>
      <td>0</td>
      <td>59</td>
      <td>55</td>
      <td>.210</td>
      <td>3.32</td>
      <td>1.08</td>
      <td>#</td>
      <td>#</td>
    </tr>

    <tr>
      <td>5</td>
      <td><%= link_to "西 勇輝（神）", '/personal_pitcher_stats'%></td>
      <td>2.92</td>
      <td>26</td>
      <td>26</td>
      <td>1</td>
      <td>1</td>
      <td>19</td>
      <td>10</td>
      <td>8</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>.556</td>
      <td>172.1</td>
      <td>159</td>
      <td>12</td>
      <td>112</td>
      <td>5.85</td>
      <td>36</td>
      <td>9</td>
      <td>2</td>
      <td>0</td>
      <td>60</td>
      <td>56</td>
      <td>.247</td>
      <td>3.11</td>
      <td>1.13</td>
      <td>#</td>
      <td>#</td>
    </tr>
  </tbody>
</table>
</body>
</html>