 <!DOCTYPE html>
<html>
<head>
<title>セ・リーグ打者成績</title>
</head>
<body>
  <table class= "table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>規定打席以上</th>
      <th>打率</th>
      <th>試合</th>
      <th>打席</th>
      <th>打数</th>
      <th>安打</th>
      <th>二塁打</th>
      <th>三塁打</th>
      <th>本塁打</th>
      <th>塁打</th>
      <th>打点</th>
      <th>得点</th>
      <th>三振</th>
      <th>四球</th>
      <th>死球</th>
      <th>犠打</th>
      <th>犠飛</th>
      <th>盗塁</th>
      <th>盗塁死</th>
      <th>併殺打</th>
      <th>出塁率</th>
      <th>長打率</th>
      <th>ＯＰＳ</th>
      <th>ｗＯＢＡ</th>
      <th>ｗＲＡＡ</th>
      <th>ｗＲＣ</th>
      <th>ＩｓｏＤ</th>
      <th>ＲＣ２７</th>
    </tr>
</thead>
<tbody>
  <tr>
    <td>1</td>
    <td><%= link_to "鈴木 誠也（広）", '/personal_batter_stats'%></td>
    <td>.335</td>
    <td>140</td>
    <td>612</td>
    <td>499</td>
    <td>167</td>
    <td>31</td>
    <td>0</td>
    <td>28</td>
    <td>282</td>
    <td>87</td>
    <td>112</td>
    <td>81</td>
    <td>103</td>
    <td>7</td>
    <td>0</td>
    <td>3</td>
    <td>25</td>
    <td>16</td>
    <td>3</td>
    <td>.453</td>
    <td>.565</td>
    <td>1.018</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>

  <tr>
    <td>2</td>
    <td><%= link_to "ビシエド（中）", '/personal_batter_stats'%></td>
    <td>.315</td>
    <td>143</td>
    <td>594</td>
    <td>534</td>
    <td>168</td>
    <td>43</td>
    <td>0</td>
    <td>18</td>
    <td>265</td>
    <td>93</td>
    <td>56</td>
    <td>88</td>
    <td>41</td>
    <td>13</td>
    <td>0</td>
    <td>6</td>
    <td>2</td>
    <td>1</td>
    <td>22</td>
    <td>.374</td>
    <td>.496</td>
    <td>.870</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>

  <tr>
    <td>3</td>
    <td><%= link_to "糸井 嘉男（神）", '/personal_batter_stats'%></td>
    <td>.314</td>
    <td>103</td>
    <td>444</td>
    <td>382</td>
    <td>120</td>
    <td>22</td>
    <td>1</td>
    <td>5</td>
    <td>159</td>
    <td>42</td>
    <td>45</td>
    <td>63</td>
    <td>52</td>
    <td>7</td>
    <td>0</td>
    <td>3</td>
    <td>9</td>
    <td>5</td>
    <td>10</td>
    <td>.403</td>
    <td>.416</td>
    <td>.819</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>

  <tr>
    <td>4</td>
    <td><%= link_to "大島 洋平（中）", '/personal_batter_stats'%></td>
    <td>.3118</td>
    <td>143</td>
    <td>623</td>
    <td>558</td>
    <td>174</td>
    <td>23</td>
    <td>3</td>
    <td>3</td>
    <td>212</td>
    <td>45</td>
    <td>89</td>
    <td>78</td>
    <td>50</td>
    <td>9</td>
    <td>3</td>
    <td>3</td>
    <td>30</td>
    <td>7</td>
    <td>5</td>
    <td>.376</td>
    <td>.380</td>
    <td>.756</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>

  <tr>
    <td>5</td>
    <td><%= link_to "坂本 勇人（巨）", '/personal_batter_stats'%></td>
    <td>.3117</td>
    <td>143</td>
    <td>639</td>
    <td>555</td>
    <td>173</td>
    <td>26</td>
    <td>0</td>
    <td>40</td>
    <td>319</td>
    <td>94</td>
    <td>103</td>
    <td>123</td>
    <td>77</td>
    <td>2</td>
    <td>3</td>
    <td>2</td>
    <td>5</td>
    <td>3</td>
    <td>9</td>
    <td>.396</td>
    <td>.575</td>
    <td>.971</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
    <td>#</td>
  </tr>
  </tbody>
</table>
</body>
</html> 
