<!DOCTYPE html>
<html>
<head>
<title>パ・リーグ投手成績</title>
</head>
<body>
  <table class= "table table-striped">
    <thead>
      <tr>
        <th></th>
        <th><div class="tooltip3">規定投球回以上<div class="description3">規定投球回:143</div></div></th>
        <th><div class="tooltip3">防御率<div class="description3">9イニング当たりその投手が何点取られるか、という指標のこと。</div></div></th>
        <th><div class="tooltip3">登板<div class="description3">その投手が試合に出た数のこと。</div></div></th>
        <th><div class="tooltip3">完投<div class="description3">先発投手が一人でその試合を投げきること。</div></div></th>
        <th><div class="tooltip3">完封<div class="description3">初回ノーアウトから試合が終わるまで無失点でかつ勝利投手となった数のこと。</div></div></th>
        <th><div class="tooltip3">ＱＳ<div class="description3">先発投手が6回以上投げ、自責点が3点以内に抑えた数のこと。クオリティスタート。</div></div></th>
        <th><div class="tooltip3">勝利<div class="description3">自軍のチームが勝ち越したときに登板していた数のこと。</div></div></th>
        <th><div class="tooltip3">敗戦<div class="description3">決勝点（負け越しそのまま試合に負けた時の点）を与えた数のこと。</div></div></th>
        <th><div class="tooltip3">ホールド<div class="description3">僅差リード時に救援登板（先発じゃない登板）し同点、逆転されずに次の投手につないだ数のこと。</div></div></th>
        <th><div class="tooltip3">ホールドポイント<div class="description3">ホールドと救援勝利（先発じゃない時に記録された勝利数）を足した数のこと。</div></div></th>
        <th><div class="tooltip3">セーブ<div class="description3">僅差リード時に救援登板（先発じゃない登板）し試合が終了した数のこと。</div></div></th>
        <th><div class="tooltip3">勝率<div class="description3">その投手が勝つ確率のこと。勝利/(勝利＋敗戦）で導き出される。</div></div></th>
        <th><div class="tooltip3">投球回<div class="description3">投手が獲得したアウトの数のこと。3アウトで1イニングなので通常は150回2/3などのように回数とアウト数で表記される。</div></div></th>
        <th><div class="tooltip3">被安打<div class="description3">投手が打たれた安打（ヒット）の数のこと。</div></div></th>
        <th><div class="tooltip3">被本塁打<div class="description3">投手が打たれた本塁打（ホームラン）の数のこと。</div></div></th>
        <th><div class="tooltip3">奪三振<div class="description3">投手が打者から三振を奪った数のこと。</div></div></th>
        <th><div class="tooltip3">奪三振率<div class="description3">投手が9イニングを投げる間に平均していくつの三振を奪っているかの値。</div></div></th>
        <th><div class="tooltip3">与四球<div class="description3">与えた四球（フォアボール）の数のこと。</div></div></th>
        <th><div class="tooltip3">与死球<div class="description3">与えた死球（デッドボール）の数のこと。</div></div></th>
        <th><div class="tooltip3">暴投<div class="description3">投手が捕手が取れないようなところに投げた数のこと。ワイルドピッチ。</div></div></th>
        <th><div class="tooltip3">ボーク<div class="description3">投手の反則行為のこと。</div></div></th>
        <th><div class="tooltip3">失点<div class="description3">投手が取られた点のこと。</div></div></th>
        <th><div class="tooltip3">自責点<div class="description3">投手の責任により取られた点のこと。</div></div></th>
        <th><div class="tooltip3">K/BB<div class="description3">K（奪三振）をBB（与四球）で割った値のこと。</div></div></th>
        <th><div class="tooltip3">WHIP<div class="description3">1イニング当たりどれだけのランナーを出しているかを示す指標。</div></div></th>
        <th><div class="tooltip3">RSAA<div class="description3">リーグの平均的な投手に比べどれだけ失点を防いだか、を示す指標。</div></div></th>
        <th><div class="tooltip3">FIP<div class="description3">投手自身がコントロールできない運の要素を排除して計算された指標。</div></div></th>
      </tr>
    </thead>
    <tbody>
      <% @pitchers.each do |pitcher| %>
        <tr>
          <td><%= @rank %></td>
          <td><%= link_to pitcher.name, pitcher %></td>
          <td><%= pitcher.era %></td>
          <td><%= pitcher.game %></td>
          <td><%= pitcher.cg %></td>
          <td><%= pitcher.sho %></td>
          <td><%= pitcher.qs %></td>
          <td><%= pitcher.win %></td>
          <td><%= pitcher.lose %></td>
          <td><%= pitcher.hld %></td>
          <td><%= pitcher.hp %></td>
          <td><%= pitcher.sv %></td>
          <td><%= pitcher.wpct %></td>
          <td><%= pitcher.ip %></td>
          <td><%= pitcher.hit %></td>
          <td><%= pitcher.hr %></td>
          <td><%= pitcher.so %></td>
          <td><%= pitcher.k_9 %></td>
          <td><%= pitcher.bb %></td>
          <td><%= pitcher.hbp %></td>
          <td><%= pitcher.wp %></td>
          <td><%= pitcher.bk %></td>
          <td><%= pitcher.r %></td>
          <td><%= pitcher.er %></td>
          <td><%= pitcher.k_bb %></td>
          <td><%= pitcher.whip %></td>
          <td><%= pitcher.rsaa_c %></td>
          <td><%= pitcher.fip %></td>
        </tr>
        <% @rank = @rank + 1 %>
      <% end %>
    </tbody>
  </table>
</body>
</html>